# build output & ide
.idea
build
bin
.gradle
*.iml
*.class

# OS / editor
*.DS_Store
*.log
*.swp

# git files
.git
.gitignore
/.github

# executable files
/script/build-to-exe-alpha.bat
/script/exec.bat
/script/exec.vbs
launch.ps1
